.project-detail {
  background-color: var(--deep-indigo);
  color: var(--light-indigo);
  padding: 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  border-radius: 8px;
  text-align: left;
}

.project-detail h1 {
  font-size: 2.2rem;
  margin-left: 20px;;
}

.project-detail h2 {
  font-size: 0.9rem;
  margin-left: 20px;
}

.project-header {
  list-style: none;
  display: flex;
  padding: 10px;
  background-color: var(--black-blue);
}

#taskListIcon {
  display: block;
  object-fit: cover;
  width: 90px;
  height: 90px;
}

.border {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: .5rem;
  padding-top: .1rem;
  border-radius: 6px;
  background-color: var(--black-blue);
  margin-bottom: 0.5rem;
  margin-right: 0rem;
}

#summary{
  background-color: var(--mid-indigo);
}
.project-description {
  margin-bottom: 1rem;
}

.project-description img {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  margin-bottom: 1rem;
}

.project-description h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.2em;
  margin-left: 0px;
}

.project-description ul {
  padding-left: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.project-description p {
  padding-left: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.project-description #summary {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  padding-top: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.project-description #summary p{
  margin-bottom: 0.1rem;
}

.img-border {
  padding: 5px;
  border-radius: 3px;
  background-color: var(--mid-indigo);
}


.tutorial-buttons {
  display: flex;
  gap: 1.5rem;
  margin: 1rem 0;
  justify-content: center;
}

.tutorial-btn {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background-color: var(--mid-indigo);
  color: var(--light-indigo);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tutorial-btn:hover {
  background-color: var(--mid-indigo);
}

.tutorial-btn.active {
  background-color: var(--light-indigo);
}

.tutorial-images{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: left;
}

.tutorial-images img {
  width: 70%;
  height: fit-content;
  border-radius: 8px;
}

#add-project-images, #add-task-images {
  display: flex;
}

#delete-project-images, #delete-task-images, #sort-task-images, #search-task-images {
  display: none;
}

figcaption {
  margin-top: -.5rem;
  font-size: .8rem;
  text-align: center;
}

figure {
  width: 50%;
  margin-bottom: 2rem;
}

.back-link-top {
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  background-color: var(--black-blue);
}

.back-link-bottom {
  margin-top: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  background-color: var(--black-blue);
}

.project-footer .border{
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
  padding: 1rem;
  background-color: var(--mid-indigo);
}

.project-footer a:link, .project-footer a:visited{
  color: var(--link-color);
}

.project-tech {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.project-repo {
  margin-left: 1rem;
}