/* ─── Siatka projektów ─── */
.nav-list {
  margin: 0px;
}

#projects {
  padding: 1rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  padding: 1rem
}

/* Kafelek projektu */
.project-tile {
  display: block;
  background-color: var(--deep-indigo);
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  color: var(--light-indigo);
  transition: transform 0.3s, box-shadow 0.3s;
}

/* "Projects" bar */
#projects h1 {
  background-color: var(--deep-indigo);
  color: var(--light-indigo);
  text-align: center;
  padding: .5rem;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 8px;
}

.project-tile img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: auto;
}

.project-tile h3 {
  margin: 12px;
  font-size: 1.25rem;
  text-align: center;
}

/* Efekt hover */
.project-tile:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}